{% extends "base.html" %}

{% block content %}
    <div style="text-align: center; margin-top: 50px;">
        <h2 style="color: #2c3e50; font-size: 3em; font-weight: 700; margin-bottom: 20px;">🏠 HELLO !!!!</h2>

        <div style="max-width: 800px; margin: 0 auto; background: linear-gradient(145deg, #f2f2f2, #e1e1e1); padding: 30px; border-radius: 10px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);">
            <p style="font-size: 1.2em; color: #555; line-height: 1.8; text-align: left;">
                <span style="font-weight: bold; color: #3498db;">Bienvenue dans l'application de gestion des factures et des clients !</span><br><br>
                Vous êtes sur le tableau de bord qui vous permet de gérer efficacement toutes vos factures, vos clients, et de suivre l'évolution de vos ventes.
                <br><br>
                Grâce à cette application, vous pouvez :
                <ul style="list-style-type: none; padding-left: 0;">
                    <li><i class="fa fa-check-circle" style="color: #27ae60;"></i> Créer de nouvelles factures en quelques clics.</li>
                    <li><i class="fa fa-check-circle" style="color: #27ae60;"></i> Consulter les factures existantes et leur détail.</li>
                    <li><i class="fa fa-check-circle" style="color: #27ae60;"></i> Gérer vos clients et voir leurs informations détaillées.</li>

                </ul>
                <br>

            </p>
        </div>
    </div>
{% endblock %}
